<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1304},{352,327}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{352,327}}</string>
                <key>sourceSize</key>
                <string>{584,353}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,691},{337,366}}</string>
                <key>offset</key>
                <string>{-44,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{337,366}}</string>
                <key>sourceSize</key>
                <string>{563,412}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1664},{320,351}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{320,351}}</string>
                <key>sourceSize</key>
                <string>{494,363}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1658},{291,326}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,0},{291,326}}</string>
                <key>sourceSize</key>
                <string>{565,340}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1664},{239,313}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,5},{239,313}}</string>
                <key>sourceSize</key>
                <string>{585,327}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1664},{259,318}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,0},{259,318}}</string>
                <key>sourceSize</key>
                <string>{589,326}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1343},{348,319}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{348,319}}</string>
                <key>sourceSize</key>
                <string>{350,321}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1643},{347,328}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{347,328}}</string>
                <key>sourceSize</key>
                <string>{585,348}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{377,356}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{377,356}}</string>
                <key>sourceSize</key>
                <string>{567,398}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,293},{386,354}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{386,354}}</string>
                <key>sourceSize</key>
                <string>{512,416}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,287},{404,317}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{404,317}}</string>
                <key>sourceSize</key>
                <string>{406,423}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{488,292}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,292}}</string>
                <key>sourceSize</key>
                <string>{490,434}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,693},{334,369}}</string>
                <key>offset</key>
                <string>{-48,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{334,369}}</string>
                <key>sourceSize</key>
                <string>{490,429}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{556,289}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,289}}</string>
                <key>sourceSize</key>
                <string>{556,439}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,289}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,289}}</string>
                <key>sourceSize</key>
                <string>{562,425}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{521,311}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,311}}</string>
                <key>sourceSize</key>
                <string>{521,405}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{473,374}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,374}}</string>
                <key>sourceSize</key>
                <string>{475,394}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,293},{447,374}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,374}}</string>
                <key>sourceSize</key>
                <string>{447,384}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,669},{443,350}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{443,350}}</string>
                <key>sourceSize</key>
                <string>{445,362}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,975},{425,324}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{425,324}}</string>
                <key>sourceSize</key>
                <string>{523,336}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1029},{375,310}}</string>
                <key>offset</key>
                <string>{28,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{375,310}}</string>
                <key>sourceSize</key>
                <string>{569,322}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1030},{363,311}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,0},{363,311}}</string>
                <key>sourceSize</key>
                <string>{585,325}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{412,304}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{412,304}}</string>
                <key>sourceSize</key>
                <string>{414,434}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1021},{477,281}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{477,281}}</string>
                <key>sourceSize</key>
                <string>{479,439}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{481,283}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{481,283}}</string>
                <key>sourceSize</key>
                <string>{485,439}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,681},{469,292}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{469,292}}</string>
                <key>sourceSize</key>
                <string>{471,430}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1341},{452,300}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,300}}</string>
                <key>sourceSize</key>
                <string>{452,406}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1304},{409,358}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{409,358}}</string>
                <key>sourceSize</key>
                <string>{411,394}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,360},{329,375}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,375}}</string>
                <key>sourceSize</key>
                <string>{329,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1984,1989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3706f87017b7b9c01a7a47760a7ab62a:bb27707eb57bf1fbff2c10512327fc07:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
